* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #fff;
  border-bottom: 1px solid #333;
}
#header h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}
.selected-label {
  font-size: small;
  color: #555555;
}
#main-content {
  display: flex;
  height: calc(100vh - 65px);
  width: 100%;
}
#map-area {
  flex: 2;
  height: 100%;
}
#side-panel {
  flex: 1;
  background-color: #d4d4d4;
  padding: 15px;
  overflow-y: auto;
}
.search-row {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.search-input {
  flex: 1;
  padding: 8px;
  border: 1.5px solid #333;
  border-radius: 6px;
}
.search-btn,
.add-book-btn {
  background-color: #fff;
  font-size: small;
  color: #555555;
  padding: 8px 10px;
  border: 1.5px solid #333;
  border-radius: 6px;
  cursor: pointer;
}
.result-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 6px;
}
.result-title {
  font-size: 13px;
}
#book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}
.book-item {
  width: 140px;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
}
.book-cover {
  width: 100%;
  border-radius: 4px;
}
.book-item h3 {
  margin: 5px 0 2px 0;
  font-size: 14px;
}
.book-item p {
  margin: 0;
  font-size: 12px;
}
.book-country {
  color: #555;
}


  

  #main-content {
    background-color: #d4d4d4;
    min-height: 100vh;
    width: 100%;
    display: flex;     
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
  }
.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
}

.auth-card {
  width: 400px;
  border: 1px solid #000;
  padding: 24px;
}

.auth-card h2 {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.auth-form label {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.auth-form input {
  width: 100%;
  padding: 4px 2px;
  border: 1px solid #999;
  font-size: 14px;
  outline: none;
}

.auth-form button {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  background-color: #e0e0e0;
  border: 1px solid #999;
  font-size: 14px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #d0d0d0;
}

.auth-error {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.auth-switch {
  margin-top: 20px;
  font-size: 14px;
  color: #000;
}

.auth-switch a,
.auth-switch span {
  color: purple;
  cursor: pointer;
  text-decoration: underline;
}

